//@import "~materialize-css/dist/css/materialize.min.css";

body
  margin: 0
  overflow: hidden

.main-font 
  grid-auto-columns: max-content
  margin: 0
  font: 1rem serif
  cursor: pointer
  color: #fff
  text-decoration: none

.chat-page * 
  position: relative
  font-family: Helvetica, sans-serif

.chat-page 
  display: grid
  grid-template-areas: "header header" "leftblock rightblock"
  grid-template-columns: 16rem auto
  grid-auto-rows: 9vh 91vh
  margin: 0
  overflow: hidden
  position: relative

.left-block 
  grid-area: leftblock
  background: #115293
  overflow-y: auto
  color: #ffffff
  border-top: 0.1rem solid #80249C
  height: 90.7vh
  overflow-x: hidden