
.class-page {
  position: relative;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-auto-rows: minmax(2.6rem, auto);
  grid-template-areas:
    "search search"
    "leftblock rightblock";
  margin: -0.5rem;
  overflow: hidden;
}

.class-page * {
  position: relative;
}

.search {
  grid-area: search;
  background: #3F0E40;
  color: #ffffff;
  display: flex;
}

.left-block {
  grid-area: leftblock;
  background: #3F0E40;
  overflow-y: auto;
  color: #ffffff;
  border-top: 0.1rem solid #80249C;
  height: 91vh;
  overflow-x: hidden;
}

.right-block {
  grid-area: rightblock;
  height: 92vh;
  overflow-x: hidden;
}

.main-font {
  display: grid;
  grid-auto-columns: max-content;
  left: 1rem;
  font: 1rem serif;
  cursor: pointer;
  margin: 0rem;
}

.secondary-font {
  color: #E6E6FA;
  top: 0.5rem;
}

.set-search {
  top: 0.7rem;
  height: 1.4rem;
  cursor: pointer;
}

.clock {
  left: 28vw;
  width: 1.5rem;
  padding-right: 30vw;
}

.fild-for-search {
  top: 0.7rem;
  left: 0vw;
  height: 1.1rem;
  width: 38vw;
  background: #821CB0;
  border: 0.1rem solid #D09EED;
  border-radius: 0.3rem;
}

.icon-serch {
  height: 1.2rem;
  width: 1.3rem;
  top: 0.8rem;
  left: -1.5rem;
}

.help {
  right: 3vw;
  width: 2rem;
  position: absolute;
}

.user-name {
  top: 0.2rem;
  font-size: 1.3rem;
  left: 0.7rem;
}
.user-info {
  height: 4rem;
}

.info-user {
  left: 1.6vw;
  margin: 0vh;
}

.edit {
  left: 12rem;
  top: -1.8rem;
}

.sets-img-get-user {
  left: 0.6rem;
  width: 1rem;
  cursor: pointer;
}

.state-info {
  height: 11rem;
}

.text-chanels {
  top: 1rem;
}

.plus {
  font: 2rem serif;
  left: 13rem;
}

.first-plus {
  top: 0.5rem;
}

.different-channels {
  top: 2.5rem;
  left: 1.8rem;

}

.add-channel {
  top: 4rem;

}

.two-plus {
  top: 5.8rem;
}

.direct-messages {
  top: 6.2rem;
}

.different-messages {
  top: 7.7rem;
  left: 1.8rem;
}

.invite-people {
  top: 9.2rem;
}

.fild-for-message {
  height: 7.6vh;
  width: 76vw;
  left: 3vw;
}

.input-message {
  height: 6.5vh;
  width: 75.6vw;
  border: 0.15rem solid #665C5C;
  border-radius: 0.5rem;

}

.nick-people {
  border: 0.1rem solid #979797;
  height: 4rem;

}

.sets-peoples-of-chat {
  font: 1.5rem serif;
  top: 1.1rem;
  color: #353535;

}

.chat-with-people {
  display: flex;
  height: 71vh;  
  border-color: #A7A7A7;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 3rem auto 236rem;
  grid-auto-rows: minmax(20px, auto);
  align-items: center;
  grid-template-areas:
    "icon messager date"
    "icon message message";
  margin: 1vh;
  height: 3rem;
  left: 2rem;
}


img.icon {
  grid-area: icon;
  width: 2.7rem;
}


.message {
  grid-area: message;
  margin: 0rem;
  padding: 1rem;
}


.messager {
  margin: 0rem;
  padding: 0rem 1rem;
  font-weight: 600;
  grid-area: messager;
}

.date {
  margin: 0rem;
  grid-area: date;
}

.icon {
  top: 0.9rem;
}