

.class-page {
  position: relative;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-auto-rows: minmax(9.9vh, auto);
  grid-template-areas:
    "search search"
    "leftblock rightblock";
  margin: -0.5rem;
  overflow: hidden;
}

.class-page * {
  position: relative;
}

.search {
  grid-area: search;
  background: #3F0E40;
  color: #ffffff;
  display: flex;
}

.left-block {
  grid-area: leftblock;
  background: #3F0E40;
  overflow-y: auto;
  color: #ffffff;
  border-top: 0.1rem solid #80249C;
  height: 91vh;
  overflow-x: hidden;
}

.right-block {
  grid-area: rightblock;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 
    "nick"
    "chat"
    "answer"
    "fieldMsg"
}

.main-font {
  display: grid;
  grid-auto-columns: max-content;
  left: 1rem;
  font: 1rem serif;
  cursor: pointer;
  margin: 0rem;
}

.secondary-font {
  color: #E6E6FA;
  top: 0.5rem;
}

.set-search {
  top: 0.7rem;
  height: 1.4rem;
  cursor: pointer;
}

.clock {
  left: 28vw;
  width: 1.5rem;
  padding-right: 30vw;
}

.field-for-search {
  top: 0.7rem;
  left: 0vw;
  height: 1.1rem;
  width: 38vw;
  background: #821CB0;
  border: 0.1rem solid #D09EED;
  border-radius: 0.3rem;
}

.icon-serch {
  height: 1.2rem;
  width: 1.3rem;
  top: 0.8rem;
  left: -1.5rem;
}

.help {
  right: 3vw;
  width: 2rem;
  position: absolute;
}

.user-name {
  top: 0.2rem;
  font-size: 1.3rem;
  left: 0.7rem;
}
.user-info {
  height: 4rem;
}

.info-user {
  left: 1.6vw;
  margin: 0vh;
}

.edit {
  left: 12rem;
  top: -1.8rem;
}

.sets-img-get-user {
  left: 0.6rem;
  width: 1rem;
  cursor: pointer;
}

.state-info {
  height: 11rem;
}

.text-chanels {
  top: 1rem;
}

.plus {
  font: 2rem serif;
  left: 13rem;
}

.first-plus {
  top: 0.5rem;
}

.different-channels {
  top: 2.5rem;
  left: 1.8rem;

}

.add-channel {
  top: 4rem;

}

.two-plus {
  top: 5.8rem;
}

.direct-messages {
  top: 6.2rem;
}

.different-messages {
  top: 7.7rem;
  left: 1.8rem;
}

.invite-people {
  top: 9.2rem;
}

.field-for-message {
  display: grid;
  height: 7.6vh;
  width: 76vw;
  left: 3vw;
  grid-area: fieldMsg;
}

.input-message {
  height: 3rem;
  width: 75.6vw;
  border: 0.15rem solid #665C5C;
  border-radius: 0.5rem;
}

.nick-people {
  border: 0.1rem solid #979797;
  height: 4rem;
  grid-area: nick;
}

.sets-peoples-of-chat {
  font: 1.5rem serif;
  top: 1.1rem;
  color: #353535;

}

.chat-with-people {
  display: flex;
/*  height: 71vh;  */
  border-color: #A7A7A7;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: chat;
}

.container {
  display: grid;
  grid-template-columns: 3rem minmax(1rem, auto) 1fr 11.5vw;
  grid-auto-rows: minmax(20px, auto);
  align-items: start;
  grid-template-areas:
      "icon messager date more"
      "icon message message .";
  margin: 1vh;
  height: 3rem;
  left: 2rem;
}

.container-reply {
  display: grid;
  grid-template-columns: 3rem minmax(1rem, auto) 1fr 11.5vw;
  grid-auto-rows: minmax(20px, auto);
  align-items: start;
  grid-template-areas:
      "icon messager date more"
      "icon message message ."
      ". reply reply .";
  margin: 1vh;
  height: 5rem;
  left: 2rem;
}

img.icon {
  grid-area: icon;
  width: 2.7rem;
}

.more {
  grid-area: more;
  align-items: center;
  top: 0.1rem;
  cursor: pointer;
  justify-self: end;
  left: -3rem;
}

.change-mes {
  display: grid;
  grid-template-areas:
      "answer"
      "edit"
      "redirect"
      "delete";
  grid-row-gap: 0.3rem;
  right: 1rem;
}

.change-mes > div {
  border: 1px solid rebeccapurple;
  border-radius: 0.3rem;
  cursor: pointer;
}

.answer-mes {
  grid-area: answer;
  cursor: pointer;
}

.edit-mes {
  grid-area: edit;
  cursor: pointer;
}

.redirect-mes {
  grid-area: redirect;
  cursor: pointer;
}

.delete-mes {
  grid-area: delete;
  cursor: pointer;
}

.message {
  word-break: break-all;
  grid-area: message;
  margin: 0rem;
  top: -0.8rem;
  left: 1rem;
}


.messager {
  margin: 0rem;
  padding: 0rem 1rem;
  font-weight: 600;
  grid-area: messager;
  top: -0.8rem;
}

.date {
  margin: 0rem;
  grid-area: date;
  top: -0.8rem;
}

.icon {
  top: -0.1rem;
}

.button-text-edit {
  height: 2rem;
  width: 2rem;
  bottom: 3rem;
  background: #3F0E40;
  color: #FFFFFF;
  top: -3.3rem;
  left: 72vw;
  border-radius: 0.6rem;
}

.field-answer {
  display: block;
  height: 4rem;
  width: 76vw;
  border-radius: 1rem 1rem 0rem 0rem;
  border: 0.1rem solid #BEB7BD;
  left: 3vw;
  background: #DC85FF;
  grid-area: answer;
}

.reply {
  grid-area: reply;
  top: -1rem;
  left: 1rem;
}

/*@import "~materialize-css/dist/css/materialize.min.css"; */
.yellow-input {
  padding: 0;
  height: 2.3rem;
  width: 27rem;
  border-bottom: 0.2rem solid white;
}
/*
input.yellow-input + label {
  color: #ffffff;
}

input.yellow-input:focus + label {
  color: #ffeb3b;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b;
  box-shadow: 0 1px 0 0 #ffeb3b;
}*/

.log-out {
  background: #fff;
  color: red;
}

.auth-field {
  background: #6a1b9a;
  padding: 0.5rem;
  width: 28rem;
  height: 12rem;
  position: relative;
  left: 27rem;
  top: 3rem;
  border-radius: 0.4rem;
}

.card-content {

}

.card-title {
  color: white;
  left: 7rem;
  font-size: 2.5rem;
  position: relative;
}

.auth-text {
  color: #fff;
}

.input-field {

}

.btn-1 {
  margin: 1rem 2rem;
  height: 2rem;
  background: orange;
  border-radius: 0.4rem;
  width: 5rem;
}

.btn-2 {
  height: 2rem;
  border-radius: 0.4rem;
  width: 9rem;
}


.colore {
  margin: 0;
  left: 5rem;
  padding: 0rem 35rem;
}

.b {
  height: 40rem;
  overflow-y: auto;
}

.create-channel {
  position: relative;
  display: block;
  height: 2rem;
  width: 8rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #BEB7BD;
  background: blue;
  top: 4rem;
  left: 0.8rem;
}