body
  margin: 0
  overflow: hidden

.chat-page * 
  position: relative
  font-family: Helvetica, sans-serif

.chat-page 
  display: grid
  grid-template-areas: "header header" "leftblock rightblock"
  grid-template-columns: 16rem auto
  grid-auto-rows: minmax(2.3rem, auto)
  margin: -0.5rem
  overflow: hidden
  position: relative
  top: 2.9rem

.main-font 
  display: grid
  grid-auto-columns: max-content
  font: 1rem serif
  cursor: pointer
  color: #fff
  text-decoration: none

//Header
.header 
  grid-area: header
  background: #3F0E40
  color: #ffffff
  display: flex
  cursor: pointer
  align-items: center
  .header-element__clock
    height: 1.4rem
    left: 28vw
    width: 1.5rem
    padding-right: 30vw
  .header-element__field-for-search 
    height: 1.1rem
    width: 38vw
    background: #821CB0
    border: 0.1rem solid #D09EED
    border-radius: 0.3rem
  .header-element__icon-search 
    height: 1.2rem
    width: 1.3rem
    left: -1.5rem
  .header-element__help 
    height: 1.4rem
    right: 3vw
    width: 2rem
    position: absolute


//Profile
.left-block 
  grid-area: leftblock
  background: #3F0E40
  overflow-y: auto
  color: #ffffff
  border-top: 0.1rem solid #80249C
  height: 100vh
  overflow-x: hidden

  .user-info 
    display: grid
    grid-template-areas: "name edit" "log edit"
    grid-template-rows: 2rem 2rem
    grid-template-columns: 1fr 4rem
    justify-content: space-between
    align-items: center
    left: 1rem

    .user-info__name
      grid-area: name
      font-size: 1.3rem

    .user-info__log-out
      grid-area: log
      left: 0.5rem;
      align-self: start

    .user-info__edit
      grid-area: edit
      
//AllUsedOfUser
.user-sets
  display: grid
  grid-template-areas: "channel first-plus" "different-channels different-channels" "direct-messages second-plus" "users users"
  grid-template-rows: 3rem 3rem
  grid-template-columns: 1fr 3rem
  justify-content: space-between
  align-items: center
  left: 1rem

  .user-sets__text-chanels
    grid-area: channel
  .plus 

    font: 2rem serif
    left: 0

  .plus__first-plus 
    grid-area: first-plus

  .user-sets__different-channels
    grid-area: different-channels

  .user-sets__different-channels > a
    margin: 0.5rem 1rem

  .user-sets__direct-messages 
    grid-area: direct-messages

  .plus__second-plus 
    grid-area: second-plus

  .user-sets__users
    grid-area: users

  .user-sets__users > p, a
    margin: 0.5rem 1rem



//Conversation
.right-block 
  grid-area: rightblock
  display: grid
  grid-template-areas: "nick" "chat" "fieldMsg"
  grid-template-rows: 4.2rem 77vh

  .right-block__field-name
    border: 0.1rem solid #979797
    height: 4rem
    grid-area: nick

    .right-block__name 
      font: 1.5rem serif
      top: 1.1rem
      color: #353535
      left: 1rem

  .right-block__answer 
    display: block
    height: 3rem
    width: 74.7vw
    border-radius: 1rem 1rem 0rem 0rem
    border: 0.1rem solid #BEB7BD
    left: 3vw
    background: #80249C
    color: white
    grid-area: answer
    padding: 1rem 0rem 0rem 1rem

  .right-block__block-input
    display: grid
    height: 7.6vh
    width: 76vw
    left: 3vw
    grid-area: fieldMsg

    .right-block__input-message
      height: 3rem
      width: 75.6vw
      border: 0.15rem solid #665C5C
      border-radius: 0.5rem

    .right-block__button-hide-answer-change
      height: 2rem
      width: 2rem
      bottom: 3rem
      background: #3F0E40
      color: #FFFFFF
      top: -3.3rem
      left: 72vw
      border-radius: 0.6rem


//Chat
.right-block-with-riply 
  grid-area: rightblock
  display: grid
  grid-template-areas: "nick" "chat" "answer" "fieldMsg"
  grid-template-rows: 4.2rem 67vh 10vh

  .right-block__field-name
    border: 0.1rem solid #979797
    height: 4rem
    grid-area: nick

    .right-block__name 
      font: 1.5rem serif
      top: 1.1rem
      color: #353535
      left: 1rem

  .right-block__answer 
    display: block
    height: 3rem
    width: 74.7vw
    border-radius: 1rem 1rem 0rem 0rem
    border: 0.1rem solid #BEB7BD
    left: 3vw
    background: #80249C
    color: white
    grid-area: answer
    padding: 1rem 0rem 0rem 1rem

  .right-block__block-input
    display: grid
    height: 7.6vh
    width: 76vw
    left: 3vw
    grid-area: fieldMsg

    .right-block__input-message
      height: 3rem
      width: 75.6vw
      border: 0.15rem solid #665C5C
      border-radius: 0.5rem

    .right-block__button-hide-answer-change
      height: 2rem
      width: 2rem
      bottom: 3rem
      background: #3F0E40
      color: #FFFFFF
      top: -3.3rem
      left: 72vw
      border-radius: 0.6rem

.chat 
  display: flex
  border-color: #A7A7A7
  flex-direction: column-reverse
  overflow-y: auto
  overflow-x: hidden
  grid-area: chat

  .container:hover 
    background: #f5f5f5

  .container 
    display: grid
    grid-template-columns: 2.8rem minmax(1rem, auto) 1fr
    grid-auto-rows: minmax(20px, auto)
    align-items: start
    grid-template-areas: "icon messager date" "icon message message"
    margin: 1vh
    height: 3rem
    left: 2rem

    .container__message 
      word-break: break-all
      grid-area: message
      left: 1rem
      margin: 0 

    .container__messager 
      margin: 0rem
      padding: 0rem 1rem
      font-weight: 600
      grid-area: messager

    .container__date 
      margin: 0rem
      grid-area: date
      font-size: 0.8rem
      align-self: start

    .container__icon 
      top: -0.1rem

    .container__reply 
      grid-area: reply
      top: -0.5rem
      left: 1rem

  .container-reply:hover 
    background: #f5f5f5

  .container-reply 
    display: grid
    grid-template-columns: 3rem minmax(1rem, auto) 1fr
    grid-auto-rows: minmax(20px, auto)
    align-items: start
    grid-template-areas: "icon messager date" "icon message message"  ". reply reply"
    margin: 1vh
    height: 5rem
    left: 2rem

    .container__message 
      word-break: break-all
      grid-area: message
      left: 1rem
      margin: 0 

    .container__messager 
      margin: 0rem
      padding: 0rem 1rem
      font-weight: 600
      grid-area: messager

    .container__date 
      margin: 0rem
      grid-area: date
      font-size: 0.8rem
      align-self: center

    .container__icon 
      top: -0.1rem

    .container__reply 
      grid-area: reply
      top: -0.5rem
      left: 1rem

  .chat-actions 
    cursor: pointer
    position: fixed
    right: 1.3rem

  .field-actions 
    align-items: center
    display: grid
    grid-template-areas: "answer" "edit" "redirect" "delete"
    grid-row-gap: 0.3rem
    justify-self: end
    width: min-content

  .field-actions > div 
    border: 1px solid rebeccapurple
    border-radius: 0.3rem
    cursor: pointer

    .field-actions__answer
      grid-area: answer
      cursor: pointer

    .field-actions__edit
      grid-area: edit
      cursor: pointer

    .field-actions__redirect
      grid-area: redirect
      cursor: pointer

    .field-actions__delete
      grid-area: delete
      cursor: pointer


img.icon 
  grid-area: icon
  width: 2.7rem

//SignPages
.auth-body 
  display: flex
  justify-content: center

  .auth-form 
    position: relative
    top: 25vh
    padding: 0.5rem
    width: 28rem
    background: #6a1b9a
    margin-block-end: auto
    border-radius: 0.4rem

    .auth-form__title 
      color: white
      left: 7rem
      font-size: 2.5rem
      position: relative

    .auth-form__form
      color: #fff

    .auth-form__input-border-bottom 
      padding: 0
      height: 2.2rem
      width: 27rem

    .auth-form__input-border-bottom-green 
      padding: 0
      height: 2.2rem
      width: 27rem
      border-bottom: 0.2rem solid green

    .auth-form__error 
      height: 1.5rem
      width: 27.3rem
      margin: 0
      padding: 0.5rem 0 0 0
      color: #ffd4d4

  .auth-form__button-active 
    height: 2rem
    background: orange
    margin: 0rem 1rem 0rem 0rem
    border-radius: 0.4rem
    width: 8rem
    color: black
    text-decoration: none
    margin: 1rem

  .auth-form__button-pasive 
    height: 2rem
    border-radius: 0.4rem
    width: 9rem
    text-decoration: none
    margin: 1rem
  

.b 
  height: 40rem
  overflow-y: auto

/*ChoiceChannel*/

.button-create-channel 
  position: relative
  color: black
  font-size: 0.9rem
  font-weight: 600
  margin: 0.5rem 1.4rem
  width: 9rem
  height: 2rem
  left: 66vw
  bottom: 1.2rem

.input-for-search-channel 
  width: 77.3vw
  height: 2rem
  border-radius: 0.3rem
  margin: 1rem

.block-create-channel 
  border: solid 0.1rem gray
  border-radius: 0.5rem
  height: 22rem
  width: 33rem
  top: 10rem
  left: 10rem
  position: absolute

.title 
  font-size: 2rem
  font-weight: 600
  top: 1rem
  padding: 0rem 2rem

.discription-of-create-channel 
  padding: 1rem 2rem
  color: gray
  font-size: 1.1rem
  top: 1rem

.label-name 
  padding: 1rem 2rem

.input-name 
  border-radius: 0.3rem
  left: -4.5rem
  top: 2rem
  width: 24rem
  height: 2rem

.description-block 
  top: 3rem

.label-description 
  padding: 0rem 2rem

.input-description 
  border-radius: 0.3rem
  left: 2.1rem
  top: 0.5rem
  width: 24rem
  height: 2rem

.button-create 
  top: 4.3rem
  left: 20.7rem
  height: 2.4rem
  width: 6rem
  border-radius: 0.3rem

.filter-contacts 
  display: flex
  justify-content: center
  background: blue

.filter-contacts-label 
  color: yellow
  font-weight: 600
  padding: 0.7rem

.colore 
  margin: 0
  left: 5rem
  padding: 0rem 35rem

.errors 
  color: red
  margin: 0.2rem

.icon-actions
  left: 5.4rem
  cursor: pointer

.info-user 
  left: 1.6vw
  margin: 0vh

.sets-img-get-user
  left: 0.6rem
  width: 1rem
  cursor: pointer

.state-info 
  height: 11rem

.add-channel 
  top: 4rem

.different-messages 
  top: 7.7rem
  left: 1.8rem