.left-bar__title-name
  font-size: 3vh
  align-items: center
  text-align: -webkit-left

.left-bar__title_active
  color: #30fffc

.left-bar__channels
  margin: 1rem 0rem 0rem 0rem

.left-bar__first-plus:hover
  color: #30fffc

.left-bar__second-plus:hover
  color: #30fffc

.user-sets__users
  .user-sets__channel
    border-radius: 0.4rem
    margin: 0.5rem 2rem
    
  .user-sets__channel_active
    background: #010045

  .user-sets__channel:hover
    background: #010045

.modal-content
  height: max-content

.modal-overlay
  display: flex
  justify-content: center
  align-items: center
  background-color: transparent
  position: fixed
  top: 0
  width: -webkit-fill-available
  height: -webkit-fill-available
  background: rgba(0, 0, 0, 0.5)