
.style-fixed-div div {
  position: fixed;
  background: #3F0E40;
  color: #ffffff;
}

p:hover {
  background:#2F163B;
}

b:hover {
  background:#2F163B;
}

.input-searcher {
  position: fixed;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 40px;
  width: 20000px;
  background: #57286C;
}

.clock {
  position: relative;
  left: 360px;
  top: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.input-name-user {
  position: relative;
  left: 390px;
  top: 5px;
  width: 500px;
  background: #821CB0;
  border: 1px solid #D09EED;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.icon-serch {
  position: relative;
  height: 15px;
  width: 15px;
  top: 8px;
  left: 363px;
  cursor: pointer;
}

.help {
  position: relative;
  left: 700px;
  top: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.style  div {
  position: absolute;
  background: #3F0E40;
  margin-left: -8px;
  color: #ffffff;

}

.user-info {
  background: #57286C;
  margin-left: -8px;
  color: #ffffff;
  position: fixed;
  top: 39px;
  width: 235px;
  height: 60px;
  border-top: 1px solid #80249C;
  cursor: pointer;
}


.name-user {
  position: fixed;
  top: 45px;
  left: 10px;
  cursor: pointer;
  width: 225px;
}

.info-user {
  width: 218px;
  position: fixed;
  top: 53px;
  left: 17px;
  color: #ECDCF5;
  font: 12pt serif;
  font-size: 14px;
  cursor: pointer;
}

.edit {
  position: fixed;
  left: 183px;
  top: 50px;
  cursor: pointer;
}

.sets-img-get-user {
  position: absolute;
  left: 10px;
  width: 15px;
  cursor: pointer;
}

.set-text-get-user {
  height: 20px;
  position: absolute;
  left: 30px;
  font: 11pt serif;
  cursor: pointer;

}

.state-info {
  width: 235px;
  height: 160px;
  border-top: 1px solid #80249C;
  position: absolute;
  top: 100px;
}

.set-info-user {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  width: 225px;
}

.instruments {
  position: absolute;
  width: 235px;
  height: 379px;
  border-top: 1px solid #80249C;
  top: 261px;
}

.all-done {
  top: 10px;
  left: 10px;
  width: 225px;
}

.icon-contacts {
  top: 70px;
}

.people {
  top: 54px;
  width: 205px;
}


.icon-apps {
  top: 100px;
}

.apps-get-user {
  top: 84px;
  width: 205px;
}

.icon-files {
  top: 129px;
}

.files {
  top: 113px;
  width: 205px;
}

.text-chanels {
  left: 15px;
  width: 220px;
}

.plus {
  font: 18pt serif;
  left: 190px;
}

.first-plus {
  top: 10px;
}

.different-channels {
  top: 28px;
  left: 17px;
  width: 218px;
}

.add-channel {
  top: 57px;
  left: 17px;
  width: 218px;
}

.two-plus {
  top: 105px;
}

.direct-messages {
  top: 95px;
  left: 15px;
  width: 220px;
}

.different-messages {
  top: 125px;
  left: 15px;
  width: 220px;
}

.invite-people {
  top: 150px;
  left: 16px;
  width: 219px;
}

.apps {
  top: 185px;
  left: 15px;
  width: 220px;

}

.three-plus {
  top: 197px;

}

.fild-for-message {
  position: fixed;
  border: 2px solid #665C5C;
  width: 960px;
  height: 45px;
  top: 560px;
  left: 280px;
  border-radius: 6px 6px 6px 6px;
}

.input-message {
  position: absolute;
  height: 40px;
  width: 956px;
}

.nick-people {
  border: 1px solid #979797;
  width: 10000px;
  height: 58px;
  position: fixed;
  top: 40px;
  left: 234px;

}

.sets-peoples-of-chat {
  font: 19px serif;
  top: 17px;
  color: #353535;

}

.chat-with-people {
  position: fixed;
  width: 1049px;
  height: 700px;
  top: 100px;
  left: 234px;
  border-color: #A7A7A7;
}

.conteiner {
  position: absolute;
  width: 961px;
  height: 33px;
  left: 45px;
  border-radius: 5px;
}

.conteiner-for-1-message {
  top: 362px;
}

img.icon {
  width: 35px;
  position: absolute;
  left: 3px;
  top: -4px;
}

p.messager {
  font-size: 16px;
  margin: 0px;
  position: absolute;
  left: 49px;
  top: -1px;
  font-weight: 600;
}

p.time-of-send {
  font-size: 11px;
  margin: 0px;
  position: absolute;
  left: 89px;
  top: 3px;
}

p.message-from-people {
  font-size: 15px;
  margin: 0px;
  position: absolute;
  left: 49px;
  top: 18px;
}

.conteiner-for-2-message {
  top: 407px;
}

.button-send {
  position: absolute;
  top: 1px;
  left: 881px;
  width: 78px;
  height: -webkit-fill-available;
}
